<div>
メソッド問題
</div>
<div class="questions">

    <div class="volume">
      <h3>モチベーション編</h3>
      <div class="question">
        <div class="method">
          <%= link_to "①ようこそ、マキニウムへ。（7分1秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>








      
      <div class="question">
        <div class="method">
          <%= link_to "②マキニウムのシステム マキニウムでやれること（2分45秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "③自己紹介（7分51秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "④マキニウムのルール（2分21秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑤基本的な考え方（9分25秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑥マインドセットとは？（15分55秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑦マインドセットを身につける（9分43秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑧目標を書き出す（6分28秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑨継続して成長していくために（8分32秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑩重要な補足事項（5分29秒）", "https://band.us/band/82802925/post/93", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
    </div>

    <div class="volume">
      <h3>演技理論編</h3>
      <div class="question">
        <div class="method">
          <%= link_to "⑪“マキニウム式”とは（6分17秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
        <div class="question">
        <div class="method">
          <%= link_to "⑫“いい演技”とは（5分41秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑬“いい演技”を目指す矛盾（4分21秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑭マキニウム式は自己表現（3分16秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑮スキキライで取り組むこと（4分04秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑯スキキライによって起こること（8分03秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑰成長を阻む壁（2分30秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "⑱思いこみ自信をつける（5分06秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
    </div>

    <div class="volume">
      <h3>実践編</h3>
      <div class="question">
        <div class="method">
          <%= link_to "⑲（１）稽古を進めるイメージ（7分41秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
        <div class="question">
        <div class="method">
          <%= link_to "⑳（２）セリフの印象付けと自己表現（5分42秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉑（３）稽古の進め方の基本（11分40秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉒（４）セリフを効率よく印象付けていくために（7分34秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉓（５）稽古初期（5分48秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉔（６）稽古中期（8分02秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉕（７）進化し続けるために重要なこと（11分11秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉖（８）チームで成功するために（4分36秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉗（９）「演出」とどう向き合うか（4分50秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉘（１０）【ホンネ】も高める稽古後期（9分40秒）", "https://band.us/band/82802925/post/98", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉚（１１）本番に向けて必要なこと（10分28秒）", "https://band.us/band/82802925/post/99", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
        <div class="question">
        <div class="method">
          <%= link_to "㉛（１２）ピンチになったら（1分32秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉜（１４）本番前（1分43秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
      <div class="question">
        <div class="method">
          <%= link_to "㉝（１５）本番を終えたら（6分22秒）", "https://band.us/band/82802925/post/94", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="check">
        </div>
      </div>
    </div>
</div>

