<div class="form__wrapper inner">
  <%= form_with model: [current_user, @actor], local: true do |f| %>

    <%= render 'shared/error_messages',{ model: f.object} %>
    <div class="actor">
      <h2>
      俳優情報
      </h2>
      <div class="form">
        <div class="form-content">
          <div class="form-lavel">
            画像（必須）
          </div>
          <%= f.file_field :image, class:"actor-image" %>
        </div>

        <div class="form-content">
          <div class="form-lavel">
            コメント
          </div>
          <%= f.text_area :comment, class:"comment" %>
        </div>
      </div> 
    </div>

    <div class="actions">
      <%= f.submit "作成する", class: :form__btn  %>
    </div>

  <% end %>
</div>