<div class="inner release">
  <div class="form__wrapper">

    <div class="actor-show">
      <div class="we-are-makinium">
        マキニウムの人たち
      <div class="actor">
        <h1 class="stage-name">
          <% unless current_user.stage_name == "" %>
            <%= "#{current_user.stage_name}" %>
          <% else %>
            <%= "#{current_user.name}" %>
          <% end %>
        </h1>
        <h3 class="times">
          <% unless @sheet == "none" %>
            <%= "マキニウム出演回数：#{@sheet.cell(2,'H')}回" %>
          <% end %>
        </h3>
        <div class="actor-image">
          <%= image_tag @actor.image, class: "actor-img" %>
        </div>
        <% unless @actor.comment == "" %>
          <div class="comment">
            <%= safe_join(@actor.comment.split("\n"),tag(:br)) %>
          </div>
        <% end %>
      </div>

      <div class="next-detail">
        <%= link_to "次回公演はこちら！", "https://www.makinium.com/%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89/", target: :_blank, rel: "noopener noreferrer", class: :next__btn %>
      </div>

      <div class="past">
        <% if @sheet == "none" %>
          過去の出演作はまだありません。
        <% else %>
          <h3>これまでに出演した作品</h3>
          <div class="past-programs">
            <% @last.times do |num|%>
              <% if @sheet.cell(num+5,'J').to_i > 0 %>
                <div class="past-program">
                  <div class="year">
                    <%= @sheet.cell(num+5,'C') %>
                  </div>
                  <div class="past-show">
                    <%= @sheet.cell(num+5,'F') %>
                  </div>

                  <div class="past-details">
                    <div class="past-stage">
                      <%= @sheet.cell(num+5,'G') %>
                    </div>
                    <div class="past-detail">
                      <p class="past-detail-menu">
                        <span class="moderate">俳優支持率（平均）</span>
                      </p>
                      <p class="past-detail-per">
                        <% if @sheet.cell(num+5,'R').to_i >= 80.0 %>
                          <span class="emp-top"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'R').to_f)}%" %></span>
                        <% elsif @sheet.cell(num+5,'R').to_i >= 50.0 %>
                          <span class="emp-middle"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'R').to_f)}%" %></span>
                        <% elsif @sheet.cell(num+5,'R').to_i >= 30.0 %>
                          <span class="emp"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'R').to_f)}%" %></span>
                        <% else %>
                          <span class="emp-low"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'R').to_f)}%" %></span>
                        <% end %>
                      </p>
                    </div>
                    <div class="past-detail">
                      <p class="past-detail-menu">
                        <span class="moderate">作品とてもおもしろい率（平均）</span>
                      </p>
                      <p class="past-detail-per">
                        <% if @sheet.cell(num+5,'Q').to_i >= 80.0 %>
                          <span class="emp-top"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'Q').to_f)}%" %></span>
                        <% elsif @sheet.cell(num+5,'Q').to_i >= 50.0 %>
                          <span class="emp-middle"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'Q').to_f)}%" %></span>
                        <% elsif @sheet.cell(num+5,'Q').to_i >= 30.0 %>
                          <span class="emp"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'Q').to_f)}%" %></span>
                        <% else %>
                          <span class="emp-low"><%= "#{sprintf("%.1f",@sheet.cell(num+5,'Q').to_f)}%" %></span>
                        <% end %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <% if user_signed_in? && current_user.id == @actor.user_id %>
        <%= link_to "編集する", new_user_actor_path(current_user), class: :form__btn %>
      <% end %>
    </div>

  </div>
</div>
