<main class="main">
  <div class="inner">
    <% if user_signed_in? %>

      <div class="greeting">
        お疲れさまです、
        <% unless current_user.stage_name == "" %>
          <%= link_to "#{current_user.stage_name}さん", root_path, class: :greeting__link %>
        <% else %>
          <%= link_to "#{current_user.name}さん", root_path, class: :greeting__link%>
        <% end %>
        (俳優番号<%= @code %>)
      </div>

      <div class ="menu">
        <div class ="item">
          <%= link_to "成績", user_path(current_user.id) %>
        </div>
        <div class="content grade">
          <% if @sheet == "none" %>
            成績はまだありません。
          <% else %>
            <p class="grade1">
            <%= "#{@sheet.cell(1,'U')}ランク #{@sheet.cell(1,'V')} #{@sheet.cell(1,'W')}位/#{@sheet.cell(1,'X')}人中" %>
            </p>
            <p class="grade2">
            <%= "現在のMP：#{@sheet.cell(2,'X')}" %>
            </p>
            <p class="grade3">
              <%= "MP#{@sheet.cell(2,'W')}になると次のランクに上がります！" %>
            </p>
          <% end %>
        </div>
      </div>

      <div class ="menu">
        <div class ="item">
          <%= link_to "メソッド問題", new_user_question_path(current_user) %>
        </div>

        <% unless current_user.question == nil %>
        <div class ="content answered">
          <% @questions.each do |answers| %>
            <% answers %>
            <% @answers_all = answers %>
          <% end %>
          <% @answers = @answers_all.count(true) %>
          <%= "#{@answers}/33問 回答しました！" %>
          <p class="answered%">
          <%= "回答率#{((@answers.to_f / 33) * 100).round(1)}%" %>
          </p>
        </div>
        <% end %>
      </div>

      <div class ="menu">
        <div class ="item">
          スタッフ実績
        </div>
        <div class="content staff-ganre">
          <p class="ganre">
          音響
          </p>
          <p class="ganre">
          照明
          </p>
          <p class="ganre">
          ライブビューイング
          </p>
          <p class="ganre">
          カメラ
          </p>
        </div>
      </div>

      <div class ="menu">
        <div class ="item">
          俳優ページ
        </div>
        <div class="content page-actions">
          <% if current_user.actor == nil %>
            <p class = "page-action">
              <%= link_to "作成する", new_user_actor_path(current_user) %>
            </p>
          <% else %>
            <p class = "page-action">
              <%= link_to "編集する", new_user_actor_path(current_user) %>
            </p>
            <p class = "page-action">
              <%= link_to "公開ページを確認する", user_actor_path(current_user.id, @actor) %>
            </p>
          <% end %>
        <div>
      </div>


    <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
  
</main>
