<main class="main">
  <div class="statistics">
    <div>
      会員番号 <%= @code %>
      <%= @name %>さんの成績
    </div>
    <div>
      <%= @sheet.cell(2,'F') %>
      <p>
        <%= "#{@sheet.cell(1,'U')}ランク #{@sheet.cell(1,'V')} #{@sheet.cell(1,'W')}位/#{@sheet.cell(1,'X')}人中" %>
      </p>
      <p>
        <%= "現在のMP：#{@sheet.cell(2,'X')}" %>
      </p>
      <p>
        <%= "MP#{@sheet.cell(2,'W')}になると次のランクに上がります！" %>
      </p>
    </div>
  </div>
  <div class="detail">
    <%= @sheet.each do |row| %>
      <table border="1">
        <tr>
          <td width="65"><%= row[2] %></td>
          <td width="65"><%= row[4] %></td>
          <td width="65"><%= row[5] %></td>
          <td width="65"><%= row[6] %></td>
          <td width="65"><%= row[7] %></td>
          <td width="65"><%= row[8] %></td>
          <td width="65"><%= row[9] %></td>
          <td width="65"><%= row[10] %></td>
          <td width="65"><%= row[11] %></td>
          <td width="65"><%= row[12] %></td>
          <td width="65"><%= row[13] %></td>
          <td width="65"><%= row[14] %></td>
          <td width="65"><%= row[15] %></td>
          <td width="65"><%= row[16] %></td>
          <td width="65"><%= row[17] %></td>
          <td width="65"><%= row[18] %></td>
          <td width="65"><%= row[19] %></td>
          <td width="65"><%= row[20] %></td>
          <td width="65"><%= row[21] %></td>
          <td width="65"><%= row[22] %></td>
          <td width="65"><%= row[23] %></td>
          <td width="65"><%= row[24] %></td>
        </tr>
      </table>
    <% end %>
  </div>
</main>