<main class="main">
  <div class="statistics">
    <div>
      会員番号 <%= @code %>
      <%= @name %>さんの成績
    </div>
    <div>
      <%= @sheet.cell(2,'F') %>
      <p>
        <%= "#{@sheet.cell(1,'U')}ランク #{@sheet.cell(1,'V')} #{@sheet.cell(1,'W')}位/#{@sheet.cell(1,'X')}人中" %>
      </p>
      <p>
        <%= "現在のMP：#{@sheet.cell(2,'X')}" %>
      </p>
      <p>
        <%= "MP#{@sheet.cell(2,'W')}になると次のランクに上がります！" %>
      </p>
    </div>
  </div>
  <div class="detail">
    <table border="1">
      <% 4.times do |num|%>
        <tr>
          <th width="65"><%= @sheet.cell(num+1,'C') %></th>
          <th width="65"><%= @sheet.cell(num+1,'E') %></th>
          <th width="70"><%= @sheet.cell(num+1,'F') %></th>
          <th width="65"><%= truncate(@sheet.cell(num+1,'G'), length: 8) %></th>
          <th width="65"><%= @sheet.cell(num+1,'H') %></th>
          <th width="65"><%= @sheet.cell(num+1,'I') %></th>
          <th width="45"><%= @sheet.cell(num+1,'J') %></th>
          <th width="65"><%= @sheet.cell(num+1,'K') %></th>
          <th width="65"><%= @sheet.cell(num+1,'L') %></th>
          <th width="65"><%= @sheet.cell(num+1,'M') %></th>
          <th width="65"><%= @sheet.cell(num+1,'N') %></th>
          <th width="65"><%= @sheet.cell(num+1,'O') %></th>
          <th width="65"><%= @sheet.cell(num+1,'P') %></th>
          <th width="65"><%= @sheet.cell(num+1,'Q') %></th>
          <th width="65"><%= @sheet.cell(num+1,'R') %></th>
          <th width="65"><%= @sheet.cell(num+1,'S') %></th>
          <th width="65"><%= @sheet.cell(num+1,'T') %></th>
          <th width="65"><%= @sheet.cell(num+1,'U') %></th>
          <th width="65"><%= @sheet.cell(num+1,'V') %></th>
          <th width="65"><%= @sheet.cell(num+1,'W') %></th>
        </tr>
      <% end %>
      <% @last.times do |num|%>
        <tr>
          <td width="65"><%= @sheet.cell(num+5,'C') %></td>
          <td width="65"><%= @sheet.cell(num+5,'E') %></td>
          <td width="70"><%= @sheet.cell(num+5,'F') %></td>
          <td width="65"><%= truncate(@sheet.cell(num+5,'G'), length: 8) %></td>
          <td width="65"><%= @sheet.cell(num+5,'H') %></td>
          <td width="65"><%= @sheet.cell(num+5,'I') %></td>
          <td width="45"><%= @sheet.cell(num+5,'J') %></td>
          <td width="65"><%= @sheet.cell(num+5,'K') %></td>
          <td width="65"><%= @sheet.cell(num+5,'L') %></td>
          <td width="65"><%= @sheet.cell(num+5,'M') %></td>
          <td width="65"><%= @sheet.cell(num+5,'N') %></td>
          <td width="65"><%= @sheet.cell(num+5,'O') %></td>
          <td width="65"><%= @sheet.cell(num+5,'P') %></td>
          <td width="65"><%= @sheet.cell(num+5,'Q') %></td>
          <td width="65"><%= @sheet.cell(num+5,'R') %></td>
          <td width="65"><%= @sheet.cell(num+5,'S') %></td>
          <td width="65"><%= @sheet.cell(num+5,'T') %></td>
          <td width="65"><%= @sheet.cell(num+5,'U') %></td>
          <td width="65"><%= @sheet.cell(num+5,'V') %></td>
          <td width="65"><%= @sheet.cell(num+5,'W') %></td>
        </tr>
      <% end %>
    </table>
  </div>
</main>